body{
  font-family: Tahoma;
  color: #444;
  letter-spacing: 1px;
}
.navWrapper{
  background-color: bisque;
  margin-bottom: 40px;
}
.navBar{
  width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
  height: 50px;
}
.logo{
  width: 30px;
  height: 50px;
}
.securePasswordForm{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.securePasswordForm input {
  width: 30vw;
  height: 6vh;
  border-radius: 10px;
  background-color: #888888;
  border: none;
}
.holdingForm{
  display: flex;
  border: 2px solid black;
  width: 40vw;
  height: 50vh;
  align-items: center;
  margin: auto;
  gap: 2px;
}
.securePasswordForm button{
  width: 20vw;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  height: 10%;
  margin-left: 60px;
}
