body{
  font-family: Tahoma;
  color: #444;
  letter-spacing: 1px;
}
.navWrapper{
  width: 100vw;
  background-color: bisque;
  margin-bottom: 60px;
}

.navBar{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 50px;
}

.navBar ul a{
  text-decoration: none;
  color: black;
}

.navBar ul li{
  list-style: none;
}

.navBar ul{
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

.navBar button{
  width: 70px;
  height: 30px;
}
.logo{
  width: 60px;
  height: 60px;
}
.main_wrapper{
  display: flex;
  border: 2px solid black;
  width: 20vw;
  height: 25vh;
  align-items: center;
  margin: auto;
}
.holder{
  display: flex;
  flex-direction: column;
}
.holder div{
  width: 50vw;
}
